<span>Name: {{$ctrl.hero.name}}</span>

<table class="table-hover" style="width:95%;border: 2px solid black;margin-top: 20px" align="center" >
	<thead style="background: #8c8c8c;">
	<tr>
		<th style="width:25%">Name</th>
		<th style="width:25%">Age</th>
		<th style="width:25%">Address</th>
		<th style="width:25%">Status</th>
	</tr>
	</thead>
	<tbody>
	<!--<tr data-ng-repeat="item in searchItems" data-ng-right-click="openMenu(item)" data-ng-click="fillDetails(item)" style="cursor: pointer;"-->
	<!--data-ng-class="{rowcolour: item.rowcolour , notrowcolour: !item.rowcolour} ">-->
	<!--<th>{{item.name}}</th>-->
	<!--<th>{{item.age}}</th>-->
	<!--<th>{{item.address}}</th>-->
	<!--<th>-->
	<!--<select data-ng-model="item.status" data-ng-options="status.value as status.text for status in statuses" >-->
	<!--</select>-->
	<!--</th>-->
	<!--</tr>-->
	</tbody>
</table>